<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">Search Engine Page
            <br>
            <small>looking for: </small><span><%- searchQuery %></span>
        </h1>

        <!-- Blog Post -->
        <% if(selectedPosts.length > 0) {%>
            <% selectedPosts.forEach(function(post) { %>
                <% if(post._id) {%>
                    <!-- https://placeimg.com/750/300/tech -->
                    <div class="card mb-4 col-md-10 px-0">
                        <img class="card-img-top" src="<%= post.file %>" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title"><%= post.title %></h2>
                            <p class="card-text"><%= post.description %></p>
                            <a href="/post/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on <%= post.creationDate %> by
                            <a href="/result/user/<%= post.user._id %>"><%= post.user.firstName %> <%= post.user.lastName %></a>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        <% } %>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <form action="/result" method="post">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <label for="search_text" class="w-100">
                        <div class="input-group">
                            <input type="text" name="search_text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Go!</button>
                        </span>
                        </div>
                    </label>
                </div>
            </form>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <% categories.forEach(function(category) { %>
                                <li>
                                    <a href="/result/<%- category.title %>"><%- category.title %></a>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>
    </div>
</div>