<%- include('admin-header') -%>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation -->
<%- include('admin-topNav') -%>
<div class="content-wrapper">
    <%- include('messages') -%>

    <%- include('Main') -%>

    <!-- /.container-fluid -->
    <!-- /.content-wrapper-->
    <%- include('admin-footer') -%>
</div>
</body>

</html>